/**
 * @fileOverview This file was generated automatically with scss-to-ts script
 */

@import 'variables';

:export {
  appBgColor: $appBgColor;
  linkColor: $linkColor;
  linkHoverColor: $linkHoverColor;
  lightGray: $lightGray;
  gray: $gray;
  darkGray: $darkGray;
  logoWidth: $logoWidth;
  appMinWidth: $appMinWidth;
  mainHeaderHeight: $mainHeaderHeight;
  restaurantSelectWidth: $restaurantSelectWidth;
  paddingSm: $paddingSm;
  paddingMd: $paddingMd;
  paddingLg: $paddingLg;
  marginSm: $marginSm;
  marginMd: $marginMd;
  marginLg: $marginLg;
  fontSm: $fontSm;
  fontMd: $fontMd;
  fontLg: $fontLg;
  fontXlg: $fontXlg;
}

